NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

VERIFICAMEX_API_BASE_URL=https://api.verificamex.com/identity/v1
VERIFICAMEX_API_KEY=

VERIFICAMEX_RAPIDAPI_BASE_URL=https://verifier.p.rapidapi.com
VERIFICAMEX_RAPIDAPI_HOST=verifier.p.rapidapi.com
VERIFICAMEX_RAPIDAPI_KEY=
